/*ESTILOS GERAIS*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul,li, a,main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root{
    --corBackgroundPrimaria: hsl(191, 82%, 75%);
    --corBackgroundSecundaria: #04133d;
    --corBackgroundDark: #0e0e0e;
    --corTextoPrimaria: #636363;
    --corTextoSecundaria: #000;
    --corBordaSection:  #d4e9ff;
}

.dark{
    padding: 30px 10% 0;
    margin: 30px 10%;
    width: 80%;
    align-items: center;
    color: var(--corTextoPrimaria);
    min-height: 900px;
}


li{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid var(--corTextoPrimaria) 2px;
}